<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqbx.mapper.MaintainerMapper">
  <resultMap id="BaseResultMap" type="com.hqbx.model.Maintainer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="pass" jdbcType="VARCHAR" property="pass" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uname, pass
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from maintainer
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="getMaintainerList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from maintainer order by id DESC
    </select>

    <select id="getMaintainerByusername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from maintainer
        where uname = #{username,jdbcType=INTEGER}
    </select>

    <select id="getNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select COUNT(*) from maintainer
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from maintainer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hqbx.model.Maintainer">
    insert into maintainer (id, uname, pass
      )
    values (#{id,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{pass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hqbx.model.Maintainer">
    insert into maintainer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="pass != null">
        pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        #{pass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqbx.model.Maintainer">
    update maintainer
    <set>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        pass = #{pass,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqbx.model.Maintainer">
    update maintainer
    set uname = #{uname,jdbcType=VARCHAR},
      pass = #{pass,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>