<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqbx.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.hqbx.model.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="zyzc" jdbcType="VARCHAR" property="zyzc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uname, school,zyzc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="getTeacherList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from teacher order by id DESC
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hqbx.model.Teacher">
    insert into teacher (id, uname, school, zyzc
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{zyzc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hqbx.model.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="zyzc != null">
        zyzc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="zyzc != null">
        #{zyzc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqbx.model.Teacher">
    update teacher
    <set>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="zyzc != null">
        zyzc = #{zyzc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqbx.model.Teacher">
    update teacher
    set uname = #{uname,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      zyzc = #{zyzc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>